.swiper-button-next,
.swiper-button-prev {
    background-color: rgb(7, 13, 46);
    padding: 4px 20px;
    color: #ffffff !important;
    border-radius: 100%;
}

.swiper-button-prev{
    right: -20x ;
}


.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 20px;
}